# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

dist

# dependencies
node_modules
.pnp
.pnp.js

# parcel
.parcel-cache

# misc
.DS_Store
*.pem

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# vercel
.vercel
