name: Lint
on:
    pull_request:
        branches: ['**']
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: oven-sh/setup-bun@v2
              with:
                  bun-version: '1.3.8'
            - run: bun install --frozen-lockfile
            - run: bun run build
            - run: bun run lint
