name: Tests
on:
    pull_request:
        branches: ['**']
jobs:
    tests:
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]
                node-version: [22.x, 23.x, 24.x, 25.x]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
            - uses: oven-sh/setup-bun@v2
              with:
                  bun-version: '1.3.8'
            - run: bun install --frozen-lockfile
            - run: bun run build
            - run: bun run test
